---
---

// variables
@charset "utf-8";

// colours
$almost-black: #222222;
$beekeeper: #f6e58d;
$grey-4: #888888;
$iron-red: #cb1324;
$blue: #1967D2;
$iron-grey: #1e1e1e;
$light-grey: #757575;

// fonts
$body-font: "Roboto", Helvetica, Arial, sans-serif;
$heading-font: "Roboto", Helvetica, Arial, sans-serif;
$button-font: "Roboto", Helvetica, Arial, sans-serif;
$heading-color: $iron-grey;
$text-color: $light-grey;
$link-color: $iron-red;

// sizes and spacing
$base-font-size: 18px;
$base-spacing: 24px;
$line-height-ratio: 1.5; // Adjust this ratio as needed

// breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

/* html elements */

* {
  box-sizing: border-box;
  color: $text-color;
  margin: 0;
  padding: 0;
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

html, body {
  height: 100%;
}

body {
 font-size: $base-font-size;
 line-height: $base-font-size + 10px;
 display: flex;
 flex-direction: column;
 font-family: $body-font;

 @include for-tablet-landscape-up {
  //background-color: blue;
 }
 @include for-tablet-portrait-up {
  //background-color: greenyellow;
 }
 @include for-phone-only {
  background-color: #f5f5f5;
 }
}

img {
  max-width: 100%;
}

//layout

.row {
  width: 100%;

  &.row-background {
    background-color: $beekeeper; /* Override background color if needed */
    background-image: url('../images/Header/5.png');
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
  }
}

.content-wrapper {
  width: 90%; /* Default width for the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: ($base-spacing * 0.5) 0; /* top and bottom padding */
  max-width: 1080px;
  background-color: #f5f5f5;
}

.columns {
  display: flex;
  flex-wrap: wrap; /* Ensure columns wrap to next row on smaller screens */
  justify-content: space-between; /* Elements spaced evenly */
}

.column {
  box-sizing: border-box;
  // padding: 0 10px; /* Adjust padding as needed */
  // margin: 0 17px;


  &:first-child {
    // margin-left: 0; /* Remove margin from the first column */
  }

  &:last-child {
    // margin-right: 0; /* Remove margin from the last column */
  }
  
  &.background-img {
    // background-color: $beekeeper;
    background-image: url('../images/Header/5.png');
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
  }

  .icon {
    flex-shrink: 0; /* Prevent the icon from shrinking */
    margin-right: 10px; /* Adjust margin between icon and content */
  }

  .content {
    flex-grow: 1; /* Allow content to grow and fill remaining space */
  }
}

.icon-left {
  display: flex; /* Apply flexbox layout */
}

.row-container {
  display: flex;
  background-color: #f6e58d;
}


.half {
  flex: 0 0 100%; /* By default, columns take up full width */
}

@include for-tablet-portrait-up {
  .half {
    flex: 0 0 calc(50% - 20px); /* Half-width columns on larger screens */
  }
}

.grid-column {
  display: flex;
  flex-wrap: wrap;

  &.middle {
    align-items: center;
  }
}

// Styles for each grid item column
.grid-item-2 {
  width: calc(50% - 10px); /* Each item takes up 50% width */
  padding: 10px;
  box-sizing: border-box;

  @include for-phone-only {
    width: calc(100% - 20px); /* Each item takes up full width on narrow screens */
  }
}

.grid-item-1 {
  width: calc(100% - 10px); /* Each item takes up 100% width */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: $base-spacing * 0.5;

  .icon {
    flex: 0 0 auto;
    margin-right: $base-spacing * 0.5;

    @include for-tablet-landscape-up {
      margin-right: $base-spacing;
    }
  }

  .content {
    flex: 1;
  }

  @include for-phone-only {
    width: calc(100% - 20px); /* Each item takes up full width on narrow screens */
  }
}

/* Default width for columns */
.third,
.one-fourth,
.three-fourths,
.two-thirds,
.one-third {
  flex: 0 0 100%; /* By default, columns take up full width */
  margin-bottom: 20px; /* Add spacing between columns */
}


/* Media queries for larger screens */
@include for-tablet-portrait-up {
    /* Columns with a width of 33% */
  .third {
    flex: 0 0 calc(33% - 20px); /* 33% width */
    margin-bottom: 0; /* Remove bottom margin for columns on larger screens */
  }

  /* Columns with a width of 25% and 75% */
  .one-fourth {
    flex: 0 0 calc(25% - 20px); /* 25% width */
    margin-bottom: 0; /* Remove bottom margin for columns on larger screens */
  }

  .three-fourths {
    flex: 0 0 calc(75% - 20px); /* 75% width */
    margin-bottom: 0; /* Remove bottom margin for columns on larger screens */
  }

  /* Columns with a width of 66% and 33% */
  .two-thirds {
    flex: 0 0 calc(66% - 20px); /* 66% width */
    margin-bottom: 0; /* Remove bottom margin for columns on larger screens */
  }

  .one-third {
    flex: 0 0 calc(33% - 20px); /* 33% width */
    margin-bottom: 0; /* Remove bottom margin for columns on larger screens */
  }

  /* Columns with a width of 25% */
  .one-fourth {
    flex: 0 0 calc(25% - 20px); /* 25% width */
    margin-bottom: 0; /* Remove bottom margin for columns on larger screens */
  }
}

// typography
h1, h2, h3, h4, p, ol, ul {
  margin-bottom: $base-spacing * 0.5;

  @include for-desktop-up {
    margin-bottom: calc($base-spacing / 2 * 1.5);
  }
}

// Calculate the line height ratio
$line-height-ratio: 28px / 18px; // Adjust with your specific values

h1, h2, h3, h4 {
  font-family: $heading-font;
  color: $heading-color;
  letter-spacing: -1px;
  font-weight: 500;
}

h1 {
  font-size: $base-font-size * 3;
  line-height: ($base-font-size * 3) + 10px;
}

h2 {
  font-size: $base-font-size * 2;
  line-height: ($base-font-size * 2) + 10px;
  margin-top: $base-spacing * 2;
}

h3 {
  font-size: $base-font-size * 1.5;
  line-height: ($base-font-size * 1.5) + 10px;
  margin-top: $base-spacing * 1.5;
}

h4 {
  font-size: $base-font-size * 1.25;
  line-height: ($base-font-size * 1.25) + 10px;
  margin-top: $base-spacing * 1.25;
}

a {
  color: $link-color;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $heading-color;
}

h5, h6 {
  font-size: $base-spacing;
}


/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-spacing * 0.5 0;
  font-size: 16px;
}

.logo img {
  height: 40px; /* Adjust as needed */
}

.menu {
  margin-left: auto; /* Align menu items to the right */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px; /* Adjust as needed */
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
}


/* button styles */

.buttons {
  margin-left: $base-spacing * 2; /* Add space between menu items and buttons */
}

/* Filled Button Style */
.buttons button,
.button,
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: $link-color;
  border: none;
  color: white;
  padding: $base-spacing * 0.5; /* Common padding */
  cursor: pointer;
  font-family: $button-font;
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 1rem;
  border: 2px solid $link-color;
  box-sizing: border-box; /* Include padding and border in the total width */
}

.buttons button:last-child {
  margin-left: $base-spacing * 0.5; /* Remove margin-right from the last button */
}

/* Specific transition for the button */
.buttons button:hover,
.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: $heading-color; /* Change background color on hover */
  border-color: $heading-color; /* Change border color on hover */
  color: white; /* Change text color on hover */
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.4s;
}

/* Outlined Button Style */
.buttons .outlined-button {
  background-color: transparent;
  color: $link-color;
  border-color: $link-color; /* Set border color to $link-color */
}

.buttons .outlined-button:hover {
  background-color: $heading-color;  /* Fill the button on hover */
  color: white; /* Change text color to white on hover */
  border-color: $heading-color; /* Darken the border color on hover */
}

