<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="logo-button" style="display: none;">
      <a href="index.html" title="Home"><img src="{{ site.baseurl }}/assets/images/iron-up-profile-logo.png" alt="Iron Up Sports logo"></a>
    </div>
    {% include navbar-1.html %}

    <div class="row">
      <div class="content-wrapper">
        {% if page.title != 'Home' %}
          <h1>{{ page.title }}</h1>
        {% endif %}
      </div>
    </div>
    

    
    <!-- Add more sections as needed -->

        {{ content }}

      <!-- /content -->

      {% include footer.html %}
 
  </body>
</html>
